.sort-btn {
   display: flex;
   flex-direction: column;
   margin: 15px 0;
}

.selector__container {
   width: 120px
}

.picker__container {
   margin-left: 40px;
}
#tooltip {
   position: absolute;
      display: none;
      padding: 10px;
      background: #f9f9f9;
      border: 1px solid #d1d1d1;
      border-radius: 3px;
      pointer-events: none;
      z-index: 1000;
      font-size: 22px;
}
#graph-container {
   margin: 0 20px
}

.tooltip {
   background-color: rgba(255, 255, 255, 0.462);
   border: 1px solid #ddd;
   padding: 5px;
   position: absolute;
   text-align: center;
   width: 120px;
   pointer-events: none;
   opacity: 0.6;
   transition: opacity 0.3s;
}


#table-container-2::-webkit-scrollbar {
   width: 7px;
}
#table-container-2::-webkit-scrollbar-track {
   background: white;
}
#table-container-2::-webkit-scrollbar-thumb {
   background: #4CAF50;
}
.year-selector-2::-webkit-scrollbar {
   width: 7px;
}
.year-selector-2::-webkit-scrollbar-track {
   background: white;
}
.year-selector-2::-webkit-scrollbar-thumb {
   background: #4CAF50;
}

#table-container-2::-webkit-scrollbar-thumb:hover {
   background: #4CAF50;
}

#table-container-2 {
   display: flex;
   justify-content: center;
   /* margin: 15px; */
   border-collapse: collapse;
   overflow-y: auto;
   max-height: 400px;
}

#table-container-2 table {
   border-collapse: collapse;
   width: 350px;
}

#table-container-2 th,
#table-container-2 td {
   padding: 5px;
   border: 1px solid #ddd;
}
#table-container-2- th {
   background-color: #f2f2f2;
   color: #333;
}
#table-container-2- tr:nth-child(even) {
   background-color: #f9f9f9;
}
#table-container-2 tr:hover {
   background-color: #ddd;
}

#table-container-2 td,
#table-container-2 th {
   border: 1px solid #ddd;
   padding: 8px;
}
#table-container-2 th {
   padding-top: 12px;
   padding-bottom: 12px;
   background-color: #4CAF50;
   color: white;
}

tr > th:first-child {
   cursor: pointer;
}

.year-selector-2  select {
   overflow: hidden;
   border: hidden;
   outline: none;
   background-color: white;
   width: 100%;
      text-align: center;
      font-size: 18px;
}

.year-selector-2 {
   /* width: 80px; */
   max-height: 150px;
   /* или другое значение, подходящее под ваш дизайн */
   overflow-y: auto;
   /* включает прокрутку, если содержимое превышает высоту */
   width: 110px;
   /* ширина может быть адаптирована по вашему усмотрению */
   border: 1px solid #ccc;
   /* пример границы для наглядности */
   margin: 0 10px;
   border-radius: 10px;
   text-align: center;
      font-size: 18px;
}
.year-selector-2::-webkit-scrollbar {
   width: 7px;
}

.year-selector-2::-webkit-scrollbar-track {
   background: white;
}

.year-selector-2::-webkit-scrollbar-thumb {
   background: #4CAF50;
   /* border-radius: 15px; */
}
.period-selector select {
   /* max-height: 150px; */
   overflow-y: auto;
   border: 1px solid #ccc;
   background: white;
   border-radius: 10px;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
   width: 100px;
   text-align: center;
   font-size: 18px;
   margin: 15px;
   word-break: break-all
}

.button-container {
   margin: 15px 15px 15px 15px;
   text-align: center;
   display: flex;
      justify-content: center;
      flex-direction: row;
}
.button-container button {
   background-color: #4CAF50;
   color: white;
   padding: 10px 20px;
   margin: 10px 10px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   transition: background-color 0.3s ease;
}

.button-container button:hover {
   background-color: #45a049;
}