.sort-btn {
   display: flex;
   flex-direction: column;
   margin: 15px 0;
}

#table-container {
   position: relative;
   display: flex;
   /* justify-content: center; */
   margin: 15px;
   border-collapse: collapse;
}

#table-container table {
   border-collapse: collapse;
   width: 350px;
}

#table-container th,
#table-container td {
   /* padding: 5px; */
   border: 1px solid #ddd;
}
#table-container th {
   background-color: #f2f2f2;
   color: #333;
}
#table-container tr:nth-child(even) {
   background-color: #f9f9f9;
}
#table-container tr:hover {
   background-color: #ddd;
}

#table-container td,
#table-container th {
   border: 1px solid #ddd;
   /* padding: 8px */
}
#table-container th {
   padding-top: 12px;
   padding-bottom: 12px;
   background-color: #4CAF50;
   color: white;
}

tr > th:first-child {
   cursor: pointer;
}

.year-selector {
   position: absolute;
   z-index: 1000;
   left: 1px;
   top: 1px;
}

.year-selector select {
   max-height: 150px;
   overflow-y: auto;
   border: 1px solid #ccc;
   background: white;
   border-radius: 10px;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
   width: 100px;
      text-align: center;
      font-size: 18px;
}
.button-container {
   margin: 15px 15px 15px 15px;
   text-align: center;
   display: flex;
      justify-content: center;
      flex-direction: row;
}
.button-container button {
   background-color: #4CAF50;
   color: white;
   padding: 10px 20px;
   margin: 10px 10px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   transition: background-color 0.3s ease;
}

.button-container button:hover {
   background-color: #45a049;
}